:root {
  --dark-green: #40514E;
  --mid-teal: #11999E;
  --evergreen: #30E3CA;
  --sea-green: #E4F9F5;
}

body {
  background-color: #40514E;
}

nav {
  background-color: #11999E;
  width: 100%;
}

li {
  display: inline;
}

a:link {
  color: #30E3CA;
}

a:hover {
  color: #E4F9F5;
}