:root {
  --dark-green: #40514E;
  --mid-teal: #11999E;
  --evergreen: #30E3CA;
  --sea-green: #E4F9F5;
}

body {
  background-color: #40514E;
}

nav {
  background-color: #11999E;
  width: 100%;
}

li {
  display: inline;
}

a {
  color: #30E3CA;
}

a:hover {
  color: #E4F9F5;
}

/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
